{
  "loginJob": {
    "lastRun": null,
    "nextRun": null,
    "status": "idle",
    "lastDuration": null
  },
  "hourlyTicksNseFutJob": {
    "lastRun": null,
    "nextRun": null,
    "status": "idle",
    "lastDuration": null
  }
}
